footer {

    // padding-left: 88px;
    width: 75%;

    .partager {
        display: flex;
        background-color: #333333;

        margin: 20px 0px 20px 5px;
        padding: 10px;
        text-transform: uppercase;
        font-size: 2rem;
        font-weight: bold;

        svg {
            margin-right: 20px;
            margin-left: auto;
        }

        &>div {
            display: flex;
            gap: 10px;
            text-transform: capitalize;
            font-size: 0.9rem;
            font-weight: normal;
            border-radius: 5px;
            width: 214px;
            height: 34px;
            align-items: center;


            img {
                height: 100%;

                left: 0px;
                border-radius: 5px;
            }
        }

        .buttonFacebook {
            background-color: #3B5998;
            margin-left: 8%;
            margin-right: 10px;
        }

        .ButtonTwitter {
            background-color: #55ACEE;
            margin-right: auto;
        }

        @media screen and (max-width: 960px) {
            margin: 20px 0px 20px 0px;
        }

    }

    .footerBanner {
        margin-left: 5px;

        @media screen and (max-width: 960px) {
            margin: 0;
        }
    }

    .footerHeader {
        background-color: #E60012;
        border-radius: 5px 5px 0 0px;
        padding: 10px 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .btnFooterHeader {
            background-color: #BF0010;
            padding: 10px;
            border-radius: 5px;
        }
    }

    .footerBody {
        background-color: #BF0010;
        padding: 20px;
        display: flex;
        flex-direction: column;
        gap: 20px;

        &>div {
            display: flex;
            flex-wrap: wrap;
            gap: 20px;
        }
    }

    @media screen and (max-width: 960px) {
        width: 100%;
        padding: 5px;
        margin: 0;
    }
}