.blur {
    opacity: 10%;
    filter: blur(1rem);
}

main {
    padding: 5px;
    padding-right: 10px;
    margin-top: 70px;
    transition: all .5s ease 0s;

    display: flex;
    gap: 4px;

    .leftPartMain {
        width: 76%;
    }

    .rightPartMain {
        width: 24%;
    }

    .dernieresNewsBlockLeftPartMain {
        display: none;
    }

    .dernieresNewsBlockRightPartMain {
        display: block;
    }

    @media screen and (max-width: 1600px) {
        display: flex;

        .leftPartMain {
            width: 67%;
        }

        .rightPartMain {
            width: 33%;
        }

        .dernieresNewsBlockLeftPartMain {
            display: none;
        }

        .dernieresNewsBlockRightPartMain {
            display: block;
        }

    }

    @media screen and (max-width: 960px) {

        .leftPartMain {
            width: 100%;
        }

        .rightPartMain {
            width: 100%;
        }

        .dernieresNewsBlockLeftPartMain {
            display: block;
        }

        .dernieresNewsBlockRightPartMain {
            display: none;
        }

        margin-left: 90px;
        display: grid;
        padding: 5px 0 0 3px;

        .gridPicture1 {
            order: 1;
        }

        .gridPicture2 {
            order: 3;
        }

        .dernieresNewsBlock {
            order: 2;
        }

        .bientotDisponibleBlock {
            order: 5;
        }

        .sortiesRecentesBlock {
            order: 6;
        }
    }

    @media screen and (max-width: 767px) {
        margin-left: 0px;
        padding-right: 5px;
        padding-left: 5px;
    }
}