main {
    margin-top: 70px;

    @media screen and (max-width: 960px) {
        display: grid;
        padding: 5px;

        .gridPicture1 {
            order: 1;
        }

        .gridPicture2 {
            order: 3;
        }

        .blockNews {
            order: 2;
            border: 2px solid green;
        }

        .bientotDisponibleContainer {
            order: 5;
        }

        .sortieRecentesContainer {
            order: 6;
        }
    }

}