menu {
    position: relative;
    background-color: #BF0010;
    width: 88px;
    height: calc(100vh - 70px);
    position: fixed;
    left: 0;
    // visibility: hidden;

    > :nth-child(9) {
        height: 55px;
        font-size: 2rem;
        padding-bottom: 20px;

    }

    @media screen and (max-height: 860px) {
        > :nth-child(7) {
            display: none;
        }
    }

    @media screen and (max-height: 770px) {
        > :nth-child(6) {
            display: none;
        }
    }

    @media screen and (max-height: 685px) {
        > :nth-child(5) {
            display: none;
        }
    }

    @media screen and (max-height: 595px) {
        > :nth-child(4) {
            display: none;
        }
    }

    @media screen and (max-height: 508px) {
        > :nth-child(3) {
            display: none;
        }
    }

    @media screen and (max-height: 420px) {
        > :nth-child(2) {
            display: none;
        }
    }

    @media screen and (max-height: 330px) {
        > :nth-child(1) {
            display: none;
        }
    }

    .containerWhite {
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translatex(-50%);
        border-radius: 5px 5px 0 0;
        @include center;
        background-color: #fff;
        width: 30px;
        height: 30px;
    }

    li {
        padding: 5px;
        width: 100%;
        background-color: $colorRougeNintendo;
        border-top: 1px solid $colorBorderRougeNintendo;
        border-right: 1px solid $colorBorderRougeNintendo;
        @include centerColumn;
        height: 88px;
        position: relative;
        gap: 5px;

        .corner {
            fill: $colorCornerRougeNintendo;
            position: absolute;
            top: 0;
            right: 0;
        }

        svg {
            fill: #fff;
        }

        &:hover {
            background-color: $colorBorderRougeNintendo;
        }
    }
}