nav {
    position: fixed;
    z-index: 10000;
    top: 0;
    left: 0;
    width: 100%;
    background-color: $colorRougeNintendo;
    height: 70px;
    @include center;
    justify-content: space-between;
    padding: 0 20px;

    svg {
        font-size: 1.5rem;

        &:hover {
            cursor: pointer;
        }

        svg {
            background-color: #fff;
        }
    }

    ul {
        @include center;
        gap: 20px;


        li {
            @include centerColumn;
            gap: 5px;

            &:hover {
                cursor: pointer;
                text-decoration: underline;
            }


        }


    }
}