.sortieRecentesContainer {
    border: 1px solid royalblue;
}

.sortieRecentes {
    background-color: #FFFFFF;
    color: $colorTextGris;
    padding: 10px;
    font-family: $font1;
    margin-bottom: 5px;
    margin-top: 10px;

    .contentSortieRecentes {
        border-left: 5px solid #F4F4F4;
        padding: 10px;
        font-size: 18px;
        font-weight: 700;
    }
}

.voirToutesLesNouveautes {
    color: #E60012;
    font-size: 14px;
    font-weight: 600;
    line-height: 21px;
    background-color: #fff;
    padding: 10px 20px;
    text-align: end;
    text-transform: uppercase;

    &:hover {
        cursor: pointer;
    }
}