*,
::after,
::before {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

li {
    list-style: none;
}

a,
:visited {
    text-decoration: none;
}

/* Mixins */

@mixin center {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin centerColumn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}



/*  color  */
$colorRougeNintendo: rgb(230, 0, 18);
$colorBorderRougeNintendo: rgb(207, 0, 0);
$colorCornerRougeNintendo: rgb(111, 0, 9);

@font-face {
    font-family: "font1";
    src: url(../fonts/Open_Sans/OpenSans-VariableFont_wdth/wght.ttf);
}

$font1: "font1", sans-serif;

body {
    padding-left: 88px;
    background-color: #f4f4f4;
    color: #fff;
    font-family: $font1;
    font-size: 11px;

    svg {
        fill: #fff;
    }
}