html {
    scroll-behavior: smooth;
    scroll-padding-top: 70px;

}

*,
::after,
::before {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

li {
    list-style: none;
}


a,
:visited {
    text-decoration: none;
    color: inherit;
}

/* Mixins */

@mixin center {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin centerColumn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}



/*  color  */
$colorRougeNintendo: rgb(230, 0, 18);
$colorBorderRougeNintendo: rgb(207, 0, 0);
$colorCornerRougeNintendo: rgb(111, 0, 9);
$colorTextGris: #333333;
$colorGris: rgb(153, 153, 153);


@font-face {
    font-family: "Open_sans";
    src: url(../fonts/Open_Sans/OpenSans-VariableFont_wdth\,wght.ttf);
}

$Open_sans: "Open_sans", sans-serif;

body {
    padding-top: -70px;
    padding-left: 88px;
    background-color: #f4f4f4;
    color: #fff;
    font-family: $Open_sans;
    font-size: 11px;
    transition: all .5s ease 0s;

    svg {
        fill: #fff;
    }

    @media screen and (max-width: 960px) {
        padding: 0;
        margin: 0;
    }

    @media screen and (max-width: 767px) {
        margin-left: 0px;
    }
}