*,
::after,
::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}

a,
:visited {
  text-decoration: none;
  color: inherit;
}

/* Mixins */
/*  color  */
@font-face {
  font-family: "font1";
  src: url(../fonts/Open_Sans/OpenSans-VariableFont_wdth/wght.ttf);
}
body {
  padding-left: 88px;
  background-color: #f4f4f4;
  color: #fff;
  font-family: "font1", sans-serif;
  font-size: 11px;
}
body svg {
  fill: #fff;
}
@media screen and (max-width: 960px) {
  body {
    padding: 0;
    margin: 0;
  }
}

nav {
  position: fixed;
  z-index: 10000;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgb(230, 0, 18);
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
}
nav svg {
  font-size: 1.5rem;
}
nav svg:hover {
  cursor: pointer;
}
nav svg svg {
  background-color: #fff;
}
nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
nav ul li {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 5px;
}
nav ul li:hover {
  cursor: pointer;
  text-decoration: underline;
}

main {
  margin-top: 70px;
  margin-left: 90px;
}
@media screen and (max-width: 960px) {
  main {
    display: grid;
    padding: 5px 0 0 3px;
  }
  main .gridPicture1 {
    order: 1;
  }
  main .gridPicture2 {
    order: 3;
  }
  main .dernieresNewsBlock {
    order: 2;
  }
  main .bientotDisponibleBlock {
    order: 5;
  }
  main .sortieRecentesContainer {
    order: 6;
  }
}

menu {
  position: relative;
  background-color: #BF0010;
  width: 88px;
  height: calc(100vh - 70px);
  position: fixed;
  left: 0;
}
menu > :nth-child(9) {
  height: 55px;
  font-size: 2rem;
  padding-bottom: 20px;
}
@media screen and (max-height: 860px) {
  menu > :nth-child(7) {
    display: none;
  }
}
@media screen and (max-height: 770px) {
  menu > :nth-child(6) {
    display: none;
  }
}
@media screen and (max-height: 685px) {
  menu > :nth-child(5) {
    display: none;
  }
}
@media screen and (max-height: 595px) {
  menu > :nth-child(4) {
    display: none;
  }
}
@media screen and (max-height: 508px) {
  menu > :nth-child(3) {
    display: none;
  }
}
@media screen and (max-height: 420px) {
  menu > :nth-child(2) {
    display: none;
  }
}
@media screen and (max-height: 330px) {
  menu > :nth-child(1) {
    display: none;
  }
}
menu .containerWhite {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translatex(-50%);
  border-radius: 5px 5px 0 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  width: 30px;
  height: 30px;
}
menu li {
  padding: 5px;
  width: 100%;
  background-color: rgb(230, 0, 18);
  border-top: 1px solid rgb(207, 0, 0);
  border-right: 1px solid rgb(207, 0, 0);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 88px;
  position: relative;
  gap: 5px;
}
menu li .corner {
  fill: rgb(111, 0, 9);
  position: absolute;
  top: 0;
  right: 0;
}
menu li svg {
  fill: #fff;
}
menu li:hover {
  background-color: rgb(207, 0, 0);
}
@media screen and (max-width: 1600px) {
  .gridPicture1 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-column-gap: 4px;
    grid-row-gap: 4px;
  }
  .gridPicture1 img {
    width: 100%;
    height: 100%;
    border-radius: 5px;
  }
  .gridPicture1 .caption {
    border-radius: 0 0 5px 5px;
    background-color: rgba(0, 0, 0, 0.6235294118);
    padding: 10px;
    text-transform: uppercase;
    font-size: 0.8rem;
  }
  .gridPicture1 > div {
    border-radius: 5px;
  }
  .gridPicture1 > div:hover {
    transition: ease 0.3s;
    transform: translateY(-8px);
    box-shadow: 0px 8px 10px gray;
  }
  .gridPicture1 .div1 {
    grid-area: 1/1/2/2;
  }
  .gridPicture1 .div2 {
    grid-area: 1/2/2/3;
    position: relative;
  }
  .gridPicture1 .div2 img {
    position: absolute;
  }
  .gridPicture1 .div2 .caption {
    position: absolute;
    bottom: 0;
    width: 100%;
  }
  .gridPicture1 .div3 {
    grid-area: 1/3/3/4;
  }
  .gridPicture1 .div4 {
    grid-area: 2/1/3/3;
    position: relative;
  }
  .gridPicture1 .div4 img {
    position: absolute;
  }
  .gridPicture1 .div4 .caption {
    position: absolute;
    bottom: 0;
    width: 100%;
  }
  .gridPicture1 .div5 {
    grid-area: 3/1/5/2;
  }
  .gridPicture1 .div6 {
    grid-area: 3/2/4/3;
  }
  .gridPicture1 .div7 {
    grid-area: 3/3/4/4;
  }
  .gridPicture1 .div8 {
    grid-area: 4/2/5/4;
  }
}
@media screen and (max-width: 960px) {
  .gridPicture1 {
    width: 100%;
    padding: 0;
    margin: 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-column-gap: 4px;
    grid-row-gap: 4px;
  }
  .gridPicture1 img {
    width: 100%;
    height: 100%;
    border-radius: 5px;
  }
  .gridPicture1 .caption {
    border-radius: 0 0 5px 5px;
    background-color: rgba(0, 0, 0, 0.6235294118);
    padding: 10px;
    text-transform: uppercase;
    font-size: 0.8rem;
  }
  .gridPicture1 > div {
    border-radius: 5px;
  }
  .gridPicture1 > div:hover {
    transition: ease 0.3s;
    transform: translateY(-8px);
    box-shadow: 0px 8px 10px gray;
  }
  .gridPicture1 .div1 {
    grid-area: 1/1/2/2;
  }
  .gridPicture1 .div2 {
    grid-area: 1/2/2/3;
    position: relative;
  }
  .gridPicture1 .div2 img {
    position: absolute;
  }
  .gridPicture1 .div2 .caption {
    position: absolute;
    bottom: 0;
    width: 100%;
  }
  .gridPicture1 .div3 {
    grid-area: 1/3/2/4;
  }
  .gridPicture1 .div4 {
    grid-area: 2/1/3/3;
    position: relative;
  }
  .gridPicture1 .div4 img {
    position: absolute;
  }
  .gridPicture1 .div4 .caption {
    position: absolute;
    bottom: 0;
    width: 100%;
  }
  .gridPicture1 .div5 {
    grid-area: 3/1/4/2;
  }
  .gridPicture1 .div6 {
    grid-area: 3/2/4/3;
  }
  .gridPicture1 .div7 {
    grid-area: 3/3/4/4;
  }
  .gridPicture1 .div8 {
    grid-area: 4/2/5/4;
  }
}

@media screen and (max-width: 1600px) {
  .gridPicture2 {
    width: 67%;
  }
}
@media screen and (max-width: 960px) {
  .gridPicture2 {
    width: 100%;
    padding: 0;
    margin: 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-column-gap: 4px;
    grid-row-gap: 4px;
  }
  .gridPicture2 img {
    width: 100%;
    height: 100%;
    border-radius: 5px;
  }
  .gridPicture2 .caption {
    border-radius: 0 0 5px 5px;
    background-color: rgba(0, 0, 0, 0.6235294118);
    padding: 10px;
    text-transform: uppercase;
    font-size: 0.8rem;
  }
  .gridPicture2 > div {
    border-radius: 5px;
  }
  .gridPicture2 > div:hover {
    transition: ease 0.3s;
    transform: translateY(-8px);
    box-shadow: 0px 8px 10px gray;
  }
  .gridPicture2 .div9 {
    grid-area: 1/1/2/2;
  }
  .gridPicture2 .div10 {
    grid-area: 1/2/2/3;
    position: relative;
  }
  .gridPicture2 .div10 img {
    position: absolute;
  }
  .gridPicture2 .div10 .caption {
    position: absolute;
    bottom: 0;
    width: 100%;
  }
  .gridPicture2 .div11 {
    grid-area: 1/3/3/4;
  }
  .gridPicture2 .div12 {
    grid-area: 2/1/3/3;
  }
  .gridPicture2 .div13 {
    grid-area: 3/1/4/2;
  }
  .gridPicture2 .div14 {
    grid-area: 3/2/4/3;
  }
  .gridPicture2 .div15 {
    grid-area: 3/3/4/4;
  }
  .gridPicture2 .div16 {
    grid-area: 4/2/5/4;
  }
}

@media screen and (max-width: 1600px) {
  .dernieresNewsBlock {
    width: 33%;
  }
}
@media screen and (max-width: 960px) {
  .dernieresNewsBlock {
    width: 100%;
    padding: 0;
    margin: 0;
  }
}
@media screen and (max-width: 960px) and (max-width: 960px) {
  .dernieresNewsBlock .dernieresNewsbody {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 4px;
    padding: 0;
    margin: 0;
  }
  .dernieresNewsBlock .dernieresNewsbody > :nth-child(-n+5) {
    display: flex;
  }
  .dernieresNewsBlock .dernieresNewsbody > :nth-child(-n+5) .leftPart {
    background-color: #FFFFFF;
    width: 35%;
    padding: 10px;
    margin-bottom: 2px;
  }
  .dernieresNewsBlock .dernieresNewsbody > :nth-child(-n+5) .leftPart img {
    width: 100%;
  }
  .dernieresNewsBlock .dernieresNewsbody > :nth-child(-n+5) .leftPart:hover {
    cursor: pointer;
  }
  .dernieresNewsBlock .dernieresNewsbody > :nth-child(-n+5) .rightPart {
    background-color: #FFFFFF;
    width: 65%;
    padding: 10px 0px;
    margin-bottom: 2px;
    color: #333333;
  }
  .dernieresNewsBlock .dernieresNewsbody > :nth-child(-n+5) .rightPart h2 {
    font-weight: 700;
    font-size: 16px;
    line-height: 18px;
    color: #333333;
  }
  .dernieresNewsBlock .dernieresNewsbody > :nth-child(-n+5) .rightPart h3 {
    margin-top: 5px;
    font-weight: 300;
    font-size: 11px;
    line-height: 17px;
    color: #999999;
  }
  .dernieresNewsBlock .dernieresNewsbody > :nth-child(-n+5) .rightPart p {
    margin-top: 10px;
    font-weight: 400;
    font-size: 13px;
    line-height: 20px;
    color: #666666;
  }
  .dernieresNewsBlock .dernieresNewsbody > :nth-child(-n+5) .rightPart:hover h2 {
    text-decoration: underline;
  }
  .dernieresNewsBlock .dernieresNewsbody > :nth-child(-n+5) .rightPart:hover {
    cursor: pointer;
  }
}
@media screen and (max-width: 960px) {
  .dernieresNewsBlock .dernieresNewsbody > :nth-child(n+6) {
    display: none;
  }
}
.dernieresNewsBlock .dernieresNewsHeader {
  background-color: #FFFFFF;
  color: #333333;
  padding: 10px;
  font-family: "font1", sans-serif;
  margin-bottom: 5px;
}
.dernieresNewsBlock .dernieresNewsHeader .dernieresNewsHeaderContent {
  border-left: 5px solid #F4F4F4;
  padding: 10px;
  font-size: 18px;
  font-weight: 700;
}
.dernieresNewsBlock .dernieresNewsFooter {
  background-color: #FFFFFF;
  padding: 10px 20px;
  text-align: end;
  color: #333333;
  font-family: "font1", sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
}
.dernieresNewsBlock .dernieresNewsFooter svg {
  font-size: 10px;
  fill: #333333;
}
.dernieresNewsBlock .dernieresNewsFooter:hover {
  cursor: pointer;
  text-decoration: underline;
}

@media screen and (max-width: 1600px) {
  .bientotDisponibleBlock {
    width: 67%;
  }
}
@media screen and (max-width: 960px) {
  .bientotDisponibleBlock {
    width: 100%;
    padding-right: 5px;
  }
  .bientotDisponibleBlock .bientotDisponibleHeader {
    background-color: #FFFFFF;
    color: #333333;
    padding: 10px;
    font-family: "font1", sans-serif;
    margin-bottom: 5px;
    margin-top: 10px;
  }
  .bientotDisponibleBlock .bientotDisponibleHeader .contentBientotDisponibleHeaderContent {
    border-left: 5px solid #F4F4F4;
    padding: 10px;
    font-size: 18px;
    font-weight: 700;
  }
  .bientotDisponibleBlock .bientotDisponibleBody .bientotDisponibleCard {
    display: flex;
  }
  .bientotDisponibleBlock .bientotDisponibleBody .bientotDisponibleCard .leftPart {
    padding: 5px;
    background-color: #FFFFFF;
    width: 20%;
    margin-bottom: 4px;
  }
  .bientotDisponibleBlock .bientotDisponibleBody .bientotDisponibleCard .leftPart img {
    width: 100%;
    border-radius: 5px;
  }
  .bientotDisponibleBlock .bientotDisponibleBody .bientotDisponibleCard .leftPart:hover {
    cursor: pointer;
  }
  .bientotDisponibleBlock .bientotDisponibleBody .bientotDisponibleCard .rightPart {
    background-color: #FFFFFF;
    width: 80%;
    padding: 5px;
    margin-bottom: 4px;
    color: #333333;
  }
  .bientotDisponibleBlock .bientotDisponibleBody .bientotDisponibleCard .rightPart h2 {
    font-weight: 700;
    font-size: 16px;
    line-height: 18px;
    color: #333333;
  }
  .bientotDisponibleBlock .bientotDisponibleBody .bientotDisponibleCard .rightPart h3 {
    margin-top: 5px;
    font-weight: 300;
    font-size: 11px;
    line-height: 17px;
    color: #999999;
  }
  .bientotDisponibleBlock .bientotDisponibleBody .bientotDisponibleCard .rightPart p {
    margin-top: 10px;
    font-weight: 400;
    font-size: 13px;
    line-height: 20px;
    color: #666666;
  }
  .bientotDisponibleBlock .bientotDisponibleBody .bientotDisponibleCard .rightPart:hover h2 {
    text-decoration: underline;
  }
  .bientotDisponibleBlock .bientotDisponibleBody .bientotDisponibleCard .rightPart:hover {
    cursor: pointer;
  }
  .bientotDisponibleBlock .bientotDisponibleFooter {
    color: #E60012;
    font-size: 14px;
    font-weight: 600;
    line-height: 21px;
    background-color: #fff;
    padding: 10px 20px;
    text-align: end;
    text-transform: uppercase;
  }
  .bientotDisponibleBlock .bientotDisponibleFooter:hover {
    cursor: pointer;
  }
}

footer {
  width: 75%;
}
footer .partager {
  display: flex;
  background-color: #333333;
  margin: 20px 0px 20px 5px;
  padding: 10px;
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: bold;
}
footer .partager svg {
  margin-right: 20px;
  margin-left: auto;
}
footer .partager > div {
  display: flex;
  gap: 10px;
  text-transform: capitalize;
  font-size: 0.9rem;
  font-weight: normal;
  border-radius: 5px;
  width: 214px;
  height: 34px;
  align-items: center;
}
footer .partager > div img {
  height: 100%;
  left: 0px;
  border-radius: 5px;
}
footer .partager .buttonFacebook {
  background-color: #3B5998;
  margin-left: 8%;
  margin-right: 10px;
}
footer .partager .ButtonTwitter {
  background-color: #55ACEE;
  margin-right: auto;
}
@media screen and (max-width: 960px) {
  footer .partager {
    margin: 20px 0px 20px 0px;
  }
}
footer .footerBanner {
  margin-left: 5px;
}
@media screen and (max-width: 960px) {
  footer .footerBanner {
    margin: 0;
  }
}
footer .footerHeader {
  background-color: #E60012;
  border-radius: 5px 5px 0 0px;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
footer .footerHeader .btnFooterHeader {
  background-color: #BF0010;
  padding: 10px;
  border-radius: 5px;
}
footer .footerBody {
  background-color: #BF0010;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
footer .footerBody > div {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
@media screen and (max-width: 960px) {
  footer {
    width: 100%;
    padding: 5px;
    margin: 0;
  }
}

.sortieRecentesContainer {
  border: 1px solid royalblue;
}

.sortieRecentes {
  background-color: #FFFFFF;
  color: #333333;
  padding: 10px;
  font-family: "font1", sans-serif;
  margin-bottom: 5px;
  margin-top: 10px;
}
.sortieRecentes .contentSortieRecentes {
  border-left: 5px solid #F4F4F4;
  padding: 10px;
  font-size: 18px;
  font-weight: 700;
}

.voirToutesLesNouveautes {
  color: #E60012;
  font-size: 14px;
  font-weight: 600;
  line-height: 21px;
  background-color: #fff;
  padding: 10px 20px;
  text-align: end;
  text-transform: uppercase;
}
.voirToutesLesNouveautes:hover {
  cursor: pointer;
}/*# sourceMappingURL=index.css.map */